.App {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
  font-weight: normal;
}

#sticky-bar {
  position: fixed;
  background-color: #eee;
  border-right: 0.1em solid #eee;
  border-radius: 0 0 1em 0;
}

#sticky-bar img {
  max-width: 3em;
  height: auto;
}

header,
footer {
    padding: 1em;
}

header h2 {
  margin: 0;
}

header img {
    border-radius: 1em;
    width: 5em;
}

#root[theme=light] {
  background-color: white;
  color: black;
}

#root[theme=dark] {
  background-color: black;
  color: white;
}