.App {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
}

header,
footer {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}

header h2 {
  margin: 0;
}

header img {
    border-radius: 1em;
    width: 5em;
}
