#projects-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.project {
    cursor: pointer;
    min-width: 10em;
    min-height: 10em;
    padding: 1em;

    transform: scale(1);
    transition: 0.1s ease-in;
}

.project:hover {
    transform: scale(1.1);
}

.project:hover h4 {
    opacity: 1;
}

.project h4 {
    text-transform: uppercase;
    opacity: 0;
    margin: 0;
}

.project img {
    border-radius: 1em;
    max-width: 100%;
    height: auto;
}